.trigger {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 12rem;
	height: 2.5rem;
	padding: 0 0.75rem;
	outline: 0;
	border: 1px solid var(--color-gray-200);
	border-radius: 0.375rem;
	background-color: var(--color-gray-50);
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--color-gray-900);
	cursor: pointer;
	user-select: none;
}

@media (hover: hover) {
	.trigger:hover {
		background-color: var(--color-gray-100);
	}
}

.trigger[data-expanded] {
	background-color: var(--color-gray-100);
}

.trigger:focus-visible {
	outline: 2px solid var(--color-gray-900);
	outline-offset: -1px;
}

.trigger[data-disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value[data-placeholder-shown] {
	color: var(--color-gray-500);
}

.icon {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-left: 0.5rem;
	color: var(--color-gray-500);
}

.content {
	box-sizing: border-box;
	border-radius: 0.375rem;
	background-color: var(--color-gray-50);
	background-clip: padding-box;
	outline: 1px solid var(--color-gray-200);
	box-shadow:
		0 10px 15px -3px var(--color-gray-200),
		0 4px 6px -4px var(--color-gray-200);
	z-index: 50;
	animation: contentHide 150ms ease forwards;
}

.content[data-expanded] {
	animation: contentShow 150ms ease;
}

@media (prefers-color-scheme: dark) {
	.content {
		outline: 1px solid var(--color-gray-300);
		box-shadow: none;
	}
}

.listbox {
	overflow-y: auto;
	max-height: 20rem;
	padding: 0.25rem;
}

.item {
	box-sizing: border-box;
	display: grid;
	align-items: center;
	grid-template-columns: 0.75rem 1fr;
	gap: 0.5rem;
	padding: 0.5rem 1rem 0.5rem 0.625rem;
	border-radius: 0;
	outline: 0;
	font-size: 0.875rem;
	line-height: 1rem;
	color: var(--color-gray-900);
	cursor: default;
	user-select: none;
	position: relative;
}

.item[data-highlighted] {
	z-index: 0;
	color: var(--color-gray-50);
}

.item[data-highlighted]::before {
	content: "";
	z-index: -1;
	position: absolute;
	inset-block: 0;
	inset-inline: 0.25rem;
	border-radius: 0.25rem;
	background-color: var(--color-gray-900);
}

.item[data-disabled] {
	opacity: 0.5;
}

.item-indicator {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	grid-column-start: 1;
	color: currentColor;
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.96);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes contentHide {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.96);
	}
}
