.root {
  position: relative;
  box-sizing: border-box;
  width: 24rem;
  height: 8.5rem;
  max-width: calc(100vw - 8rem);
}

.viewport {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  outline: 1px solid var(--color-gray-200);
  outline-offset: -1px;
  overflow: auto;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
}

.viewport:focus-visible {
  outline: 2px solid var(--color-blue);
}

/* Hide WebKit native scrollbar */
.viewport::-webkit-scrollbar {
  display: none;
}

.paragraph {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--color-gray-900);
}

.paragraph:last-child {
  margin-bottom: 0;
}

.scrollbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-200);
  width: 0.25rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms;
  pointer-events: none;
}

.scrollbar[data-scrolling] {
  transition-duration: 0ms;
}

.root:hover .scrollbar,
.scrollbar[data-hovering],
.scrollbar[data-scrolling] {
  opacity: 1;
  pointer-events: auto;
}

.scrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: 0.375rem;
  width: auto;
}

.thumb {
  width: 100%;
  border-radius: inherit;
  background-color: var(--color-gray-500);
}

.thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
}

.scrollbar::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 100%;
}
