.root {
	position: relative;
	width: 100%;
	max-width: 32rem;
	height: 12rem;
	border-radius: 0.375rem;
	border: 1px solid var(--color-gray-200);
	background-color: var(--color-gray-50);
}

.viewport {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

/* Hide WebKit native scrollbar */
.viewport::-webkit-scrollbar {
	display: none;
}

.paragraph {
	padding: 1rem 1.25rem;
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.625;
	color: var(--color-gray-800);
}

.scrollbar {
	display: flex;
	width: 0.375rem;
	margin: 0.25rem;
	justify-content: center;
	border-radius: 1rem;
	opacity: 0;
	transition: opacity 200ms;
}

.root:hover .scrollbar,
.scrollbar[data-scrolling] {
	opacity: 1;
	transition-duration: 75ms;
}

.scrollbar[data-orientation="horizontal"] {
	flex-direction: column;
	height: 0.375rem;
	width: auto;
}

.thumb {
	width: 100%;
	border-radius: inherit;
	background-color: var(--color-gray-400);
}

.thumb::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 1rem);
	height: calc(100% + 1rem);
}
