.root {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
}

.list {
  display: flex;
  position: relative;
  z-index: 0;
  padding-inline: 0.25rem;
  gap: 0.25rem;
  box-shadow: inset 0 -1px var(--color-gray-200);
}

.trigger {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--color-gray-600);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
  white-space: nowrap;
  padding-inline: 0.5rem;
  padding-block: 0;
  height: 2rem;
  cursor: pointer;
}

.trigger[data-selected] {
  color: var(--color-gray-900);
}

@media (hover: hover) {
  .trigger:hover {
    color: var(--color-gray-900);
  }
}

.trigger[data-highlighted] {
  outline: none;
}

.trigger[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.trigger:focus-visible {
  position: relative;
}

.trigger:focus-visible::before {
  content: "";
  position: absolute;
  inset: 0.25rem 0;
  border-radius: 0.25rem;
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.indicator {
  position: absolute;
  z-index: -1;
  top: 50%;
  margin-top: -0.75rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-gray-100);
  transition-property: transform, width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  outline: 0;
  font-size: 0.875rem;
  color: var(--color-gray-600);
  line-height: 1.5;
}

.content:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
  border-radius: 0.375rem;
}
