.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 320px;
}

.root {
	position: relative;
	background-color: var(--color-gray-50);
	border-radius: 0.5rem;
	padding: 0.25rem;
	color: var(--color-gray-900);
	display: flex;
	align-items: center;
	list-style: none;
	min-width: max-content;
}

.trigger {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.375rem;
	height: 2.5rem;
	padding: 0 0.875rem;
	outline: 0;
	border: none;
	border-radius: 0.375rem;
	background-color: var(--color-gray-50);
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: var(--color-gray-900);
	user-select: none;
	text-decoration: none;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			background-color: var(--color-gray-100);
		}
	}

	&[data-expanded] {
		background-color: var(--color-gray-100);
	}

	&:focus-visible {
		position: relative;
		outline: 2px solid var(--color-blue);
		outline-offset: -1px;
	}
}

.icon {
	transition: transform 0.2s ease;

	.trigger[data-expanded] & {
		transform: rotate(180deg);
	}
}

.viewport {
	--easing: cubic-bezier(0.22, 1, 0.36, 1);
	--duration: 0.35s;

	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	background-color: canvas;
	color: var(--color-gray-900);
	width: var(--kb-navigation-menu-viewport-width);
	height: var(--kb-navigation-menu-viewport-height);
	transition:
		width var(--duration) var(--easing),
		height var(--duration) var(--easing);
}

@media (prefers-color-scheme: light) {
	.viewport {
		outline: 1px solid var(--color-gray-200);
		box-shadow:
			0 10px 15px -3px var(--color-gray-200),
			0 4px 6px -4px var(--color-gray-200);
	}
}

@media (prefers-color-scheme: dark) {
	.viewport {
		outline: 1px solid var(--color-gray-300);
		outline-offset: -1px;
	}
}

.content {
	--easing: cubic-bezier(0.22, 1, 0.36, 1);
	--duration: 0.35s;

	box-sizing: border-box;
	padding: 1.5rem;
	position: absolute;
	inset: 0;

	&[data-motion="from-start"] {
		animation: enter-from-right var(--duration) var(--easing);
	}

	&[data-motion="from-end"] {
		animation: enter-from-left var(--duration) var(--easing);
	}

	&[data-motion="to-start"] {
		animation: exit-to-left var(--duration) var(--easing);
	}

	&[data-motion="to-end"] {
		animation: exit-to-right var(--duration) var(--easing);
	}
}

@keyframes enter-from-right {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes enter-from-left {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes exit-to-right {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(100px);
	}
}

@keyframes exit-to-left {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-100px);
	}
}

.grid-link-list {
	display: grid;
	grid-template-columns: 12rem 12rem;
	list-style: none;
	padding: 0;
}

.flex-link-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	padding: 0;
	list-style: none;
}

.link-card {
	box-sizing: border-box;
	display: block;
	padding: 0.75rem;
	border-radius: 0.375rem;
	text-decoration: none;
	color: inherit;
	border: none;
	background-color: transparent;

	@media (hover: hover) {
		&:hover {
			background-color: var(--color-gray-100);
		}
	}

	&:focus-visible {
		position: relative;
		outline: 2px solid var(--color-blue);
		outline-offset: -1px;
	}
}

.link-title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
}

.link-description {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--color-gray-500);
}
