.switch {
	display: inline-flex;
	align-items: center;
}

.control {
	display: inline-flex;
	align-items: center;
	height: 24px;
	width: 44px;
	border: 1px solid hsl(240 5% 84%);
	border-radius: 12px;
	padding: 0 2px;
	background-color: hsl(240 6% 90%);
	transition: 250ms background-color;
	cursor: pointer;
	flex-shrink: 0;
}

.control:focus-visible {
	outline: 2px solid var(--color-blue);
	outline-offset: 2px;
}

.control[data-checked] {
	border-color: var(--color-gray-900);
	background-color: var(--color-gray-900);
}

.thumb {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: white;
	transition: 250ms transform;
	flex-shrink: 0;
}

.thumb[data-checked] {
	transform: translateX(calc(100% - 1px));
}

.label {
	margin-right: 6px;
	color: var(--color-gray-900);
	font-size: 14px;
	user-select: none;
}
