.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  overflow: hidden;
  background-color: var(--color-gray-200);
  user-select: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-gray-700);
  background-color: var(--color-gray-200);
}
