.radiogroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  color: var(--color-gray-900);
}

.caption {
  font-weight: 500;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio {
  box-sizing: border-box;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  outline: 0;
  padding: 0;
  border: none;
  border: 1px solid var(--color-gray-300);
  background-color: transparent;
}

.radio[data-checked] {
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
}

.radio:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator::before {
  content: "";
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-gray-50);
}
