.root {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-900);
}

.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-600);
}

.checkbox {
  box-sizing: border-box;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  outline: 0;
  padding: 0;
  border: 1px solid var(--color-gray-300);
  background-color: transparent;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
}

.checkbox[data-checked],
.checkbox[data-indeterminate] {
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
}

.checkbox:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}

.indicator {
  display: flex;
  color: var(--color-gray-50);
}

.status {
  margin: 1rem 0 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-600);
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
}
