.button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	padding: 0 0.875rem;
	outline: 0;
	border: 1px solid var(--color-gray-200);
	border-radius: 0.375rem;
	background-color: var(--color-gray-50);
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: var(--color-gray-900);
	user-select: none;
	cursor: pointer;
}

@media (hover: hover) {
	.button:hover {
		background-color: var(--color-gray-100);
	}
}

.button:active {
	background-color: var(--color-gray-100);
}

.button:focus-visible {
	outline: 2px solid var(--color-blue);
	outline-offset: -1px;
}

.overlay {
	position: fixed;
	min-height: 100dvh;
	inset: 0;
	background-color: black;
	opacity: 0.2;
	z-index: 50;
}

@media (prefers-color-scheme: dark) {
	.overlay {
		opacity: 0.7;
	}
}

.content {
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24rem;
	max-width: calc(100vw - 3rem);
	padding: 1.5rem;
	border-radius: 0.5rem;
	outline: 1px solid var(--color-gray-200);
	background-color: var(--color-gray-50);
	color: var(--color-gray-900);
	z-index: 50;
}

@media (prefers-color-scheme: dark) {
	.content {
		outline: 1px solid var(--color-gray-300);
	}
}

.title {
	margin-top: -0.375rem;
	margin-bottom: 0.25rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	letter-spacing: -0.0025em;
	font-weight: 500;
}

.description {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--color-gray-600);
	margin-bottom: 1.5rem;
}

.actions {
	display: flex;
	justify-content: end;
	gap: 1rem;
}
