.button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
}

@media (hover: hover) {
  .button:hover:not([data-disabled]) {
    background-color: var(--color-gray-100);
  }
}

.button:active:not([data-disabled]) {
  background-color: var(--color-gray-200);
  box-shadow: inset 0 1px 3px var(--color-gray-200);
  border-top-color: var(--color-gray-300);
}

.button:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.button[data-disabled] {
  color: var(--color-gray-500);
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-200);
  cursor: not-allowed;
  box-shadow: none;
}
