.trigger {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15rem;
	height: 12rem;
	border: 1px solid var(--color-gray-300);
	color: var(--color-gray-900);
	border-radius: 0.375rem;
	user-select: none;
	-webkit-user-select: none;
}

.popup {
	box-sizing: border-box;
	padding-block: 0.25rem;
	border-radius: 0.375rem;
	background-color: var(--color-gray-50);
	border: 1px solid var(--color-gray-200);
	color: var(--color-gray-900);
	outline: none;
	box-shadow:
		0 10px 15px -3px var(--color-gray-200),
		0 4px 6px -4px var(--color-gray-200);
	z-index: 50;
	animation: popupHide 150ms ease forwards;
}

.popup[data-expanded] {
	animation: popupShow 150ms ease;
}

.item {
	outline: 0;
	cursor: default;
	user-select: none;
	padding-block: 0.5rem;
	padding-left: 1rem;
	padding-right: 2rem;
	display: flex;
	font-size: 0.875rem;
	line-height: 1rem;

	&[data-highlighted] {
		z-index: 0;
		position: relative;
		color: var(--color-gray-50);
	}

	&[data-highlighted]::before {
		content: "";
		z-index: -1;
		position: absolute;
		inset-block: 0;
		inset-inline: 0.25rem;
		border-radius: 0.25rem;
		background-color: var(--color-gray-900);
	}
}

.separator {
	margin: 0.375rem 1rem;
	height: 1px;
	background-color: var(--color-gray-200);
}

@keyframes popupShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes popupHide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
