.meter {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 12rem;
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.value {
  grid-column-start: 2;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-900);
  text-align: right;
}

.track {
  grid-column: 1 / 3;
  overflow: hidden;
  background-color: var(--color-gray-100);
  box-shadow: inset 0 0 0 1px var(--color-gray-200);
  height: 0.5rem;
}

.fill {
  height: 100%;
  width: var(--kb-meter-fill-width);
  background-color: var(--color-gray-500);
  transition: width 500ms;
}
