.accordion {
  box-sizing: border-box;
  display: flex;
  width: 24rem;
  max-width: calc(100vw - 8rem);
  flex-direction: column;
  justify-content: center;
  color: var(--color-gray-900);
}

.item {
  border-bottom: 1px solid var(--color-gray-200);
}

.trigger {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: baseline;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 0.75rem 0.25rem;
  color: var(--color-gray-900);
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  background: var(--color-gray-50);
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

@media (hover: hover) {
  .trigger:hover {
    background-color: var(--color-gray-100);
  }
}

.trigger:focus-visible {
  outline: 2px solid var(--color-blue);
  z-index: 1;
}

.triggerIcon {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  transition: transform 150ms ease-out;
}

.trigger[data-expanded] .triggerIcon {
  transform: rotate(45deg) scale(1.1);
}

.panel {
  box-sizing: border-box;
  overflow: hidden;
  color: var(--color-gray-600);
  font-size: 1rem;
  line-height: 1.5rem;
  animation: slideUp 200ms ease-out;
}

.panel[data-expanded] {
  animation: slideDown 200ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--kb-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--kb-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.content {
  padding: 0.75rem;
}
