.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 16rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.label[data-required]::after {
  content: " *";
  color: var(--color-red-500, #ef4444);
}

.input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-gray-900);
}

.input:focus {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.input::placeholder {
  color: var(--color-gray-400);
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover:not([data-disabled]) {
    background-color: var(--color-gray-100);
  }
}

.button:active:not([data-disabled]) {
  background-color: var(--color-gray-200);
  box-shadow: inset 0 1px 3px var(--color-gray-200);
  border-top-color: var(--color-gray-300);
}

.button:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.button[data-disabled] {
  color: var(--color-gray-500);
}

.result {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-600);
}
